{%extends 'base.html' %}

{% block title %}Menu{% endblock title %}
{% block body %} 
{% load static %}
<center>
<img src="{% static 'C:\Users\Ritika\OneDrive\Desktop\Cave Cafe\gymproject\static\img\QR.jpg' %}" width='500' height='500' alt="Image">
<br>OR<br>
    <link rel="stylesheet" href="{% static 'C:\Users\Ritika\OneDrive\Desktop\Cave Cafe\gymproject\static\stytle.css' %}">
<a href="https://7zxrszkhmonbxwiqym20.getbiew.com/">for menu scan Qr or click here....</a>
</center>
{% endblock body %}